h1 {
  color: white;
  background-color: rgb(24, 24, 37);
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  animation-delay: 2s;
  width: 200px;
  font-size: 30px;
}
ul {
  margin-left: 10px;
  margin-top: 10px;
}
body {
  margin-left: 10px;
}
